<div class="row" style="margin-left: 25%; margin-top: 15%;">
    <div class="col-6">
        <div>
            <form>
                <div class="">
                    <div class="">
                        <div class="">
                            <label>Email</label>
                        </div>
                        <div class="col-4">
                            <input type="text" class="form-control">
                        </div>
                    </div>
                    <div class="">
                        <div class="">
                            <label>Password</label>
                        </div>
                        <div class="col-4">
                            <input type="text" class="form-control">
                        </div>
                    </div>
                    <div class="col-4">
                        <button id="registerSubmit" type="submit" class="btn btn-primary form-control mt-2">Register</button>
                    </div>
                </div>   
            </form>
        </div>
    </div>
    <div class="col-6">
        <h2 class="text-primary mb-2">Registration</h2>
        <form>
            <div class="">
                <div class="">
                    <div class="">
                        <label>User Name</label>
                    </div>
                    <div class="col-4">
                        <input type="text" class="form-control" id="userName" name="userName" [(ngModel)]="userName" />
                    </div>
                </div>
                <div class="">
                    <div class="">
                        <label>First Name</label>
                    </div>
                    <div class="col-4">
                        <input type="text" class="form-control" id="firstName" name="firstName" [(ngModel)]="firstName" />
                    </div>
                </div>
                <div class="">
                    <div class="">
                        <label>Last Name</label>
                    </div>
                    <div class="col-4">
                        <input type="text" class="form-control" id="lastName" name="lastName" [(ngModel)]="lastName" />
                    </div>
                </div>
                <div class="">
                    <div class="">
                        <label>Email</label>
                    </div>
                    <div class="col-4">
                        <input type="text" class="form-control" id="email" name="email" [(ngModel)]="email" />
                    </div>
                </div>
                <div class="">
                    <div class="">
                        <label>Password</label>
                    </div>
                    <div class="col-4">
                        <input type="password" class="form-control" id="password" name="password" [(ngModel)]="password" />
                    </div>
                </div>
                <div class="">
                    <div class="">
                        <label>ConfirmPassword</label>
                    </div>
                    <div class="col-4">
                        <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" [(ngModel)]="confirmPassword" />
                    </div>
                </div>
                <div class="col-4">
                    <button type="submit" (click)="registration()" class="btn btn-info btn-round px-4 mt-2">Register</button>
                </div>
            </div>   
        </form>
    </div>
</div>


