.div-center {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-right: 0;
    margin-left: 0;
    padding-left: 25%;
}

#user-registered-success {
    display: none;
}

#user-registered-success {
    
    animation-name: fade;
    animation-duration: 4s;
}

@-webkit-keyframes fade {
    0% {opacity: 0;}
    50% {opacity: 1;}
    100% {opacity: 0;}
}

@keyframes fade {
    0% {opacity: 0;}
    50% {opacity: 1;}
    100% {opacity: 0;}
}